@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&display=swap');


*{
    font-family: 'Epilogue', sans-serif;   
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.container .section{
    position: relative;
    width: 100%;
    height: 100%;
}
.container .section:nth-child(1){
   background:  url(https://www.xtrafondos.com/wallpapers/pajaros-volando-en-cielo-pastel-3841.jpg);
   background-size: cover;
   background-attachment: fixed;
}
.container .section:nth-child(2){
    background:  url(https://www.xtrafondos.com/wallpapers/dj-marshmello-ilustracion-2d-3552.jpg);
    background-size: cover;
    background-attachment: fixed;
 }
 .container .section:nth-child(3){
    background:  url(https://www.xtrafondos.com/wallpapers/poligonos-abstractos-6242.jpg);
    background-size: cover;
    background-attachment: fixed;
 }
 .container .section:nth-child(4){
    background:  url(https://www.xtrafondos.com/wallpapers/bajo-el-agua-3056.jpg);
    background-size: cover;
    background-attachment: fixed;
 }
 .container .section .content{
     position: absolute;
     bottom: 50px;
     left: 50px;
     max-width: 700px;
 }
 .container .section .content h2
 {
     background-color: #fff;
     color: #111;
     font-weight: 600;
     display: inline-block;
     padding: 10px 20px;
     font-size: 2em;
 }
 .container .section .content p
 {
     background-color: #fff;
     color: #111;
     font-weight: 300;
     display: inline-block;
     padding: 10px 20px;
     margin-top: 10px;
 }
 
